@import url('https://fonts.googleapis.com/css?family=Josefin Sans');
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body{
    font-family: 'Josefin Sans', 'Oxygen','Times New Roman', Times, serif;
    margin-left:20px;
    margin-right:20px;
}
p{
    font-family: 'Oxygen', 'Josefin Sans','Times New Roman', Times, serif;
    text-align: justify;
    text-indent: 45px;
    font-size: 14px;
}
h1, h2, h3, h4{
    font-family: 'Josefin Sans', 'Oxygen', 'Times New Roman', Times, serif;
}
.theme{
    color: rgb(0, 114, 129);
    font-family: 'Oxygen', 'Josefin Sans', 'Times New Roman', Times, serif;
}
.container{
    width: 90%;
    text-align: center;
}


.navbar {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    /*background: url('https://lh3.googleusercontent.com/_ZMUtenND4uaP7T2_LcFzF3NEP01LyLKGBr6vGBNGGoexObvMhNaDtDw8DnCECFQsTbfZl2mPq1I1VQLTJ6NRYeFgIMfFVvqyJzCDELZosZu8lJIjc7C_74QHCGTZ6Y3O1cdT9y6eA=w2400') center no-repeat;*/
    background: url('https://lh3.googleusercontent.com/wwLbb7ONXGFWqwPn5hKOlVTqzUz8jlXAMhetpkD5h_uJubUqQ4UDRRISArGt3h5oOaUEfsJh_RQVrtnD1ltxsOVuYuNcMXsUNKR4bTCXKhsIYtuPGdhZTmatkyFmHu-CgEKjaC5lhQ=w2400') center no-repeat;
    background-size:100%;
    z-index: 100;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
.navbar a{
    float: left;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    border-radius: 2px;
    vertical-align: middle;
    transition: 0.4s;
}
.logo {
    font-family: 'Josefin Sans', Georgia, 'Times New Roman', Times, serif;
}
.dropdown{
    float: right;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    background-color: rgba(0,0,0,0);
    padding: 20px 16px;
    border-radius: 6px;
    margin: 0;
    vertical-align: middle;
    transition: 0.4s;
}
.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: rgba(0, 77, 87, 0.699);
}

.dropdown-content{
    font-family: 'Oxygen', 'Josefin Sans', 'Times New Roman', Times, serif;
    display: none;
    position: absolute;
    background-color: rgb(0, 77, 87);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 0;
    right: 0;
    margin-right: 0px;
}
.dropdown-content a{
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-align: right;
}
.dropdown-content a:hover{
    opacity:1;
    background-color: rgba(0, 161, 182, 0.699);
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

img{
    width:100%;
}
.img-container{
    position: relative;
    color: white;
}
.img-overlay{
    position: absolute;
    height: 99%;
    width: 50%;
    top: 0;
    left: 0;
    background-color:rgba(0, 68, 77, 0.76);
}
.img-overlay-box{
    background-color: none;
    position: absolute;
    height: 100%;
    width: 95%;
    top: 0;
    right: 1em;
}
.img-overlay-h{
    font-family: 'Oxygen', 'Josefin Sans', 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    position: relative;
    top: 10%;
    left: 55%;
    transform: translate(-50%, -50%);
    /*font-size: 2.5vw;*/
    text-align: left;
}
.img-overlay-p{
    font-family: 'Josefin Sans', 'Times New Roman', Times, serif;
    position: relative;
    top: 27%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    text-align: justify;
    text-indent: 2vw;
}

.img-overlay-link{
    font-family: 'Oxygen', sans-serif;
    font-size: 2vw;
    position: absolute;
    bottom: 20px;
    left: 2.5%;
    padding: 10px 5px;
    background-color:rgb(0, 114, 129);
    color: white;
    text-decoration: none;
    border-radius: 0% 10px;
    transition:  0.4s;
    letter-spacing: 5px;
}
.img-overlay-link:hover{
    background-color:rgb(0, 155, 175);
    color: white;
}
.container{
    width: 700px;
    text-align: center;
}
.code{
    font-family: 'Inconsolata','Courier New', Courier, monospace;
    font-size:14px;
    background-color: lightgrey;
    padding: 2px 4px;
    text-align: left;
}


@media screen and (max-width: 700px){
    p{
        font-size: 2.3vw;
    }
    .container{
        width: 90%;
    }
}
